body {
    background-color: #bee77d !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-weight: 500 !important;
  }
  
  .container {
    margin-top: 10px;
    margin-left: 20px !important;
    width: 300px !important;
    height: 100vh;
    background-color: hsl(187, 90%, 67%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    float: left;
    position: fixed;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 40px !important;
  }
  
  h3 {
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="radio"] {
    font-family: 'poppins', sans-serif;
    margin-left: 10px;
    margin-bottom: 10px !important;
  }
  
  h2.card-title {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card {
    background-color: rgb(211, 211, 211) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px !important;
    text-align: center;
    width: 330px !important;
    height: auto;
    align-items: center !important;
    float: right;
  }
  
  .card img {
    width: 280px;
    height: 200px;
    border-radius: 5px;
  
  }
  
  .card-category {
    font-size: 16px;
    color: #666;
  }
  
  .card-price {
    font-size: 20px;
    color: #ff6600;
  }
  
  .card-rating {
    font-size: 14px;
    color: #333;
  }
  
  #range-input {
    width: 100%;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
  /* Add more media queries for smaller screens if needed */
  
  /* Style for search results */
  #productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  
  /* Style for search results */
  #productContainer .card {
    width: 48%;
    margin: 5px;
  }